main {
    height: 100vh;
    background-color: rgba(70, 235, 235, 0.781);
}

.navbar {
    height: 4rem;
    background-color: white;
}

.navbar img {
    height: 3rem;
}

.navbar a {
    vertical-align: -3px;
}

select  {
    background-color: white !important;
    margin-right: .5rem;
    border-color: black !important;
}

select:hover {
    cursor: pointer;
    background-color: white !important;
}

.container {
    height: calc(100% - 7rem);
}

.grid {
    box-sizing: content-box;
    background-color: rgba(70, 235, 235, 0.781);
}

.grid_easy {
    width: 600px;
    border: 3px solid rgba(70, 235, 235, 0.781);
}

.grid_medium {
    width: 540px;
    border: 3px solid rgba(70, 235, 235, 0.781);
}

.grid_hard {
    width: 420px;
    border: 3px solid rgba(70, 235, 235, 0.781);
}


.cell {
    font-size: .8em;
    font-weight: bold;
	width: 60px;
	height: 60px;
	border: 1px solid black;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
	background-color: lightblue;
}

.bomb {
    background-color: brown;
}

footer {
    background-color: white;
    height: 3rem;
}

footer a {
    margin-left: .5rem;
}